<template>
  <div class="checkout">
      <div class="container">
          <div class="row">
              <h3>Shopping Cart</h3>
              <div class="col-md-9 col-lg-9">
                  <!-- Cart Product Table -->
                  <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Price</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Discount</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col">Shipping Charges</th>
                        <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,index) in product" :key="index">
                            <td><img :src="item.image">{{item.name}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.qty}}</td>
                            <td>{{item.discount}}</td>
                            <td>{{item.subTotal}}</td>
                            <td>{{shippingCharges}}</td>
                            <td>{{grandTotal}}</td>
                        </tr>
                    </tbody>
                </table>
              </div>
              <div class="col-md-3 col-lg-3">
                  <div><button class="btn btn-secondary profile-button" type="button" @click="checkout()">Checkout</button></div>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
export default {
    name: 'Checkout',
    data() {
        return {
            userInfo: '',
            // Initializing product information
            product: [
                {
                    image: '/1120068315-D_GRY-1.JPG',
                    name: 'Kurti',
                    price: '999',
                    qty: '1',
                    discount: '0',
                    subTotal: '999'
                }
            ],
            shippingCharges: '50',
            grandTotal: '1049'  
        }
    },
    created() {
        // Getting cookies for user info
        this.userInfo = this.$cookies.get('userInfo')
    },
    beforeMount() {
        // Event Listerners for offline and online
        window.addEventListener('offline', () => {
            this.$toast.error('No internet connection available', {
                position: 'top',
                duration: 4000,
            });
        });
        window.addEventListener('online', () => {
            this.$toast.success('Hureeh!!! Back Online Please wait while we reload', {
                position: 'top',
                duration: 4000,
            });
            location.reload();
        });
    },
    methods: {
        checkout() {
            // here is the xml request according to the product. Just gonna console user info and cart info if user is online
            if(window.navigator.onLine == true) {
                console.log('User Info', this.userInfo);
                console.log('Cart Products',this.product)
                console.log('Cart Shipping',this.shippingCharges)
                console.log('Cart Total',this.grandTotal)
            } else {
               this.$toast.error('No internet connection available', {
                    position: 'top',
                    duration: 4000,
                }); 
            }
        }
    }
}
</script>

<style>

</style>