<template>
  <div class="customer">
      <div class="container">
          <div class="row">
            <div class="col-md-5 border-right">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Profile Settings</h5>
                </div>
            </div>
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <!-- User Information Input Form Start -->
                    <div class="row mt-2">
                        <div><label class="labels">Name<span>*</span></label><input v-model="userInfo.name" type="text" class="form-control" placeholder="full name" value=""></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">PhoneNumber</label><input v-model="userInfo.phoneNumber" type="text" class="form-control" placeholder="enter phone number" value=""></div>
                        <div class="col-md-12"><label class="labels">Address</label><input v-model="userInfo.address" type="text" class="form-control" placeholder="enter address" value=""></div>
                        <div class="col-md-12"><label class="labels">Email ID</label><input v-model="userInfo.email" type="text" class="form-control" placeholder="enter email id" value=""></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Pincode</label><input v-model="userInfo.pincode" type="text" class="form-control" placeholder="pincode" value=""></div>
                        <div class="col-md-6"><label class="labels">State/Region</label><input v-model="userInfo.state" type="text" class="form-control" value="" placeholder="state"></div>
                    </div>
                    <!-- User Information Input Form End -->

                    <!-- Trigger Function for saving user Info Start -->
                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button" type="button" @click="saveProfile()">Save Profile</button>
                    </div>
                    <!-- Trigger Function for saving user Info End -->
                </div>
            </div>
        </div>
      </div>
  </div>
</template>

<script>
export default {
    name: 'Customer',
    data() {
        return {
            userInfo: {
                name: '',
                phoneNumber: '',
                address: '',
                email:'',
                pincode: '',
                state: ''
            }
        }
    },
    methods: {
        saveProfile() {
            // User Information Validation
            if(this.userInfo.name != '' && this.userInfo.phoneNumber != '' && this.userInfo.address != '' && this.userInfo.email != '' && this.userInfo.pincode != '' && this.userInfo.state != '') {

                // Setting cookies in case of failed internet connection
                this.$cookies.set('userInfo',this.userInfo);

                // Success Notification
                this.$toast.success('Information Saved', {
                    position: 'top',
                    duration: 4000,
                });

                // Changing page view after success
                this.$router.push('/checkout')
            } else {
                // Error Notification from form validation
                this.$toast.error('Please input correct information', {
                    position: 'top',
                    duration: 4000,
                });
            }
        }
    }
}
</script>

<style scoper>
.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
</style>